body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}

.main {
  flex: 1;
}

  .left{
    float: left;
  }
  
  .right{
    float: right;
  }

  .tile-image {
    height: 200px;
    float: left;
    margin-right: 50px;
  }

  .card {
    width: 45%;
  }

  p {
    display: block;
  }

.creative {
  color: midnightblue;
}

.card-text, .card-title {
  display: block;
}

/* max width is the minimum laptop width */
@media (max-width: 720px) { 
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .main {
    flex-direction: column;
  }
    .card {
      display: block;
      width: 100%;
      margin-bottom: 30px;
    }

    .card img {
      margin-bottom: 20px;
      width: 100%;
      display: inline;
      object-fit: cover;
    }

    .card-text, .card-title {
      text-align: justify;
    }

    .creative {
      color: blue;
    }

  
}

